/public/*
!public/*.css
.idea/*

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/
.python-version

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Bandit
.bandit/
*.bandit

# Local configuration files
*.local
*.env
*.envrc
*.pytest_cache/
*.tox/
.coverage
.coverage.*

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
/.idea/workspace.xml
